.presentation2 {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
}

.collapse-content {
    width: 90vw;
    margin: auto;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .collapse {
    background: #fff;
  }
  
  .collapse a {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.9rem 1.8rem;
    color: #fff;
    position: relative;
  }
  
  .collapse a.game {
    background: rgb(105, 105, 105);
  }
  
  .collapse a.SpaceX {
    background: #444;
  }
  
  .collapse a.Tesla {
    background: rgb(105, 105, 105);
  }
  
  .collapse a.Hyperloop {
    background: #444;
  }
  .collapse a.Starlink {
    background: rgb(105, 105, 105);
  }
  .collapse a.Boring {
    background: #444;
  }
  
  .collapse a:before {
    content: "";
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 25px;
    right: 30px;
  }
  
  .inner-content {
    padding: 1.8rem;
  }
  
  .content {
    max-height: 0em;
    transition: 0.3s linear 0s;
    overflow: hidden;
  }
  
  .collapse + .collapse a {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }
  
  h3 {
    margin-bottom: 15px;
  }
  
  .collapse:target .content {
    max-height: 15em;
  }
  
  .collapse:target a:before {
    transform: rotate(-90deg);
  }

  .inner-content img{
      float: right;
      width: 20%;
  }
  
  @media (max-width: 768px) {
    .collapse-content {
      width: 80vw;
      margin: auto;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }
  @media (max-width: 425px) {
    body {
      line-height: 1.3;
    }
    .collapse-content {
      width: 80vw;
    }
    .inner-content {
      padding: 1.2rem;
    }
    .inner-content h3 {
      margin-bottom: 0.3rem;
    }
  }
  @media (max-width: 320px) {
    body {
      line-height: 1.3;
    }
    .collapse-content {
      width: 80vw;
    }
    .inner-content {
      padding: 0.8rem;
    }
    .inner-content h3 {
      margin-bottom: 0.3rem;
    }
  }